name: Test Action

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}

    env:
      GITHUB_TOKEN: ${{ github.token }}

    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: npm install
        run: npm install

      - name: npm lint
        run: npm run format-check

      - name: npm test
        run: npm test
